body, html {
  background-color: white;
  position: relative;
  -webkit-overflow-scrolling: touch; /*兼容IOS*/
  overflow-x: hidden;
}
::-webkit-scrollbar {/*滚动条整体样式*/
  width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 5px;
   -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #e06d6e;
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 5px;
  background: #EDEDED;
}
a {
  color: rgba(102, 102, 102, 1.00);
  text-decoration: none;
}
a:link {
  color: unset;
  text-decoration:none;
}
.min {
  width: 100%;
  overflow-x: hidden;
}
.ox-titleBar {
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: 9;
}
.min .ox-footer .logo {
  height: 80px;
  width: 100%;
  float: none;
  background-size: 60%;
}
.min .ox-footer .content {
  height: 190px;
}

.min .ox-footer .qr-box {
  height: 100px;
  float: none;
  margin: 0 auto;
  width: 300px;
}
.min .footer-box {
  height: 200px;
}
.min .ox-footer .right, .min .ox-footer .left {
  display: none;
}

.min .ox-footer .qr-box .qr-box-item {
  float: unset;
  width: 80px;
  height: 100px;
  margin: 0 auto;
}
.min .ox-footer .qr-box .qr-box-item img {
  width: 80px;
  height: 80px;
}
.min .swiper-button {
  width: 20px;
  height: 51px;
}
.min .copyright-box {
  height: 100px;
}
.min .message-box {
  background-image: url('@&h5-check-bg.png&');
}
.min .text-box {
  font-size: 12px;
  line-height: 20px;
  width: 76%;
  left: 16%;
  font-weight: bold;
  top: 65%;
}
.min .swiper-slide .slide-text {
  line-height: 25px;
  font-size: 12px;
}
.min .title {
  width: 100%;
  background-size: auto 60%;
}

.min .ox-banner {
  background-position-y: 25px;
  background-image: url('@&h5-banana.png&');
}